<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="fragments/layout">
<head>
    <title>Student</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <form name="student"
          th:action="${@webLinkFactory.addStudent()}"
          th:object="${student}"
          method="post">
        <input type="hidden" th:field="*{Id}">
        <h1 th:if="${student?.getId()==null}">Create Student</h1>
        <h1 th:if="${student?.getId()!=null}">Update Student</h1>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control"
                           th:field="*{name}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Father Name</label>
                    <input type="text" class="form-control" th:field="*{fatherName}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Mother Name</label>
                    <input type="text" class="form-control" th:field="*{motherName}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>