<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="${@webTemplateResolver.getLayout()}">
<head>
    <title>Student</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <form name="student"
          th:action="${@webLinkFactory.addStudent()}"
          th:object="${student}"
          method="post">
        <input type="hidden" th:field="*{Id}">
        <h1 th:if="${student?.getId()==null}"><span th:text="#{app.student.create }"></span></h1>
        <h1 th:if="${student?.getId()!=null}"><span th:text="#{app.student.update }"></span></h1>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label><span th:text="#{app.student.name}"></span></label>
                    <input type="text" class="form-control"
                           th:field="*{name}">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label><span th:text="#{app.student.father.name}"></span></label>
                    <input type="text" class="form-control" th:field="*{fatherName}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label><span th:text="#{app.student.mother.name}"></span></label>
                    <input type="text" class="form-control" th:field="*{motherName}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"><span th:text="#{app.submit}"></span></button>
    </form>
</div>
</body>
</html>