@font-face {
    font-family: 'Siyam Rupali';

    src: url('../fonts/SiyamRupali.eot');

    /*src: local('Siyam Rupali'),*/
    url('../fonts/SiyamRupali.eot')     format('embedded-opentype'),
    url('../fonts/SiyamRupali.woff')    format('woff'),
    url('../fonts/SiyamRupali.ttf')     format('truetype');

    font-style: normal;
}

body {
    font-family: 'Siyam Rupali', Fallback, sans-serif;
}